#index_page {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

#index_page .welcome {
  padding-right: 25px;
}

#index_page .welcome h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
}

.blog_article {
  height: 150px;
  margin-bottom: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.blog_article h1 {
  padding-left: 175px;
  padding-top: 8px;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

#index_page a {
  text-decoration: none;
}

#index_page article {
  margin: 15px;
}

#index_page img {
  width: 100%;
}

#index_page h1 {
  font-weight: bold;
  font-size: 18px;
}
#index_page p {
  font-size: 14px;
  margin: 10px;
}

.article_show {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article_show h1 {
  font-size: 40px;
  text-align: center;
}

.article_show p {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.center {
  text-align: center;
}

.article_show article {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  padding: 25px;
}

.row_styling {
  border-bottom: 1px solid gray;
}

.border_left {
  border-left: 1px solid gray;
}

.border_bottom {
  border-bottom: 1px solid gray;
}