<footer>
  <nav>
    <ul>
      <li>Copyright &copy; 2017 TheEngineersCanvas.com All Rights Reserved</li>
      <li>Use of this site constitutes acceptance of Terms</li>
      <li>Made in California</li>
    </ul>
  </nav>
</footer>