<footer>
  <nav>
    <ul>
      <li>&copy; 2017 Redwood Surf Labs, LLC "All Rights Reserved"</li>
      <li>Use of this site constitutes acceptance of our Terms & Privacy Policy</li>
      <li>Disclaimer</li>
      <li>Made in California</li>
    </ul>
  </nav>
</footer>