<footer>
  <nav>
    <ul>
      <li>&copy; Copyright 2017 TheEngineersCanvas.com. All Rights Reserved</li>
      <li>Terms</li>
      <li>Jobs</li>
      <li>Made in California</li>
    </ul>
  </nav>
</footer>